# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment files
.env

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Vite
frontend/dist/

# Coverage
coverage/

# IDE files
.vscode/
.idea/
